customtkinter==6.0.0
CTkMessagebox==2.7
Pillow==12.2.0
pandas==3.0.2
numpy==2.3.5
mysql-connector-python==9.7.0
spacy==3.8.13
sounddevice==0.5.5
openai-whisper==20250625
ollama==0.6.2
click==8.4.2